<div class="home">
    <a href="/"></a>
</div>
<table>
    <tr>
        <th>Job Name</th>
        <th>Part ID</th>
        <th>Quantity</th>
        <th>Action</th>
    </tr>
    <% result.forEach(function (res) { %>
        <tr>
            <td><%= res.jobName %></td>
            <td><%= res.id %></td>
            <td><%= res.qty %></td>
            <td>
                <form action="/delete" method="post">
                    <input type="text" name="jobName" value="<%= res.jobName %>" hidden/>
                    <input type="number" name="id" value="<%= res.id %>" hidden/>
                    <input type="submit" class="submit adjust_3" value="Delete"/>
                </form>
            </td>
        </tr>
    <% }) %>
</table>
